@import url("./style/colors.css");
@import url("./style/workspaces.css");
@import url("./style/keymap.css");
@import url("./style/popup.css");
@import url("./style/mediaplayer.css");
@import url("./style/powerWidget.css");
@import url("./style/soundWidget.css");
@import url("./style/controlWidget.css");
@import url("./style/switch.css");
@import url("./style/slider.css");
@import url("./style/notifications.css");
@import url("./style/powermenu.css");

* {
  font-family: Inter;
  font-weight: normal;
  font-size: 1rem;
  min-width: 1px;
  min-height: 1px;
  background-color: transparent;
  color: @fg;
}

button:hover {
  background-color: @hover;
}

.bar {
  background-color: @bar;
}

.bar * {
  font-weight: bold;
}

.right button {
  padding: 0 6px;
}

.center button {
  padding: 0 6px;
}

.left > * {
  padding: 0 3px;
}

.right:last-child {
  margin-right: 10px;
}

.left:first-child {
  margin-left: 5px;
}
