.controlWidget {
  min-width: 370px;
}

.switches {
  padding: 0px;
  margin: 0px;
}

.togglebtn {
  background-color: @bg2;
  border-radius: 13px;
  margin: 5px 0px;
}

.togglebtn > button {
  padding: 15px;
}

.togglebtn > button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 13px;
}

.togglebtn > .toggle:hover {
  border-radius: 13px 0px 0px 13px;
}

.togglebtn > .toggle + button:hover {
  border-radius: 0px 13px 13px 0px;
}
.togglebtn > .toggle:hover + button {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0px 13px 13px 0px;
}

.switches button label {
  padding-left: 8px;
}

.switches .active {
  background-color: @accent;
}

.controlWidget .header {
  margin-bottom: 5px;
}
.controlWidget .header box {
  padding: 0 3px;
}

.controlWidget .header * {
  border-radius: 13px;
}

.controlWidget .headerButtons > * {
  margin: 0 1px;
}

.controlWidget .norec {
  padding: 0px;
  margin: 0px;
}

.controlWidget .rec {
  background-color: @bg2;
}
