.mediaplayer {
  margin: 0px;
  padding: 0px;
}

.player {
  border-radius: 13px 13px 0px 0px;
  padding: 10px;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.2) 10%,
    rgba(0, 0, 0, 0.5) 65%
  );
}

.img {
  border-radius: 13px 13px 0px 0px;
  min-height: 160px;
  background-size: cover;
  background-position: center;
}

.player * {
  color: darkgray;
}

.player .title {
  font-size: 1.2em;
  margin-top: 10px;
  color: @fg;
  font-weight: bold;
}

.player .artist {
  font-size: 1.1em;
  color: @fg;
}

scale.position {
  padding: 0;
}

scale.position trough {
  min-height: 7px;
  border-radius: 0px 0px 13px 13px;
  background-color: @bg2;
}

scale.position highlight {
  border-radius: 0px 13px 13px 13px;
  background-color: @accent2;
}

scale.position slider {
  all: unset;
}

.hoverControls button {
  opacity: 0;
}

.hoverControls button:hover {
  background-color: transparent;
  opacity: 1;
}

.mediaplayer > *:first-child separator {
  margin-top: 25px;
}
