.notifications {
  min-width: 400px;
}

.notifications .siitch {
  margin: 2px 8px;
}

.notifications label {
  font-weight: bold;
}

.notifications > scrolledwindow {
  background-color: @bg;
}

.event {
  background-color: @bg2;
  border-radius: 13px;
}

.footer {
  margin-top: 8px;
}

.notifications .footer button {
  background-color: @bg2;
  padding: 4px 20px;
}

.image {
  min-width: 50px;
  margin: 15px 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 28px;
}

.notifications .body * {
  padding: 0px;
}

.event button {
  border-radius: 50%;
}

.event button * {
  background-color: @bg;
  border-radius: 50%;
}

.notifications .extraLayer {
  padding: 0 5px 10px 0;
  border-radius: 13px 13px 15px 20px;
  background-color: @bg;
}
