.batterybar {
  border-radius: 13px;
  background-color: @bg2;
  min-width: 300px;
  padding: 12px;
}

.batterybar box {
  padding: 0px 5px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

.batterybar box label {
  color: grey;
}

.batterybar levelbar trough {
  min-height: 8px;
  border-radius: 13px;
  background-color: @bg;
}

.batterybar levelbar trough block.filled {
  border-radius: inherit;
  background-color: lightgreen;
}

.accessories {
  padding: 0px;
  background-color: @bg2;
  border-radius: 13px;
}

.accessories > * {
  padding: 10px;
}

.accessories circular-progress {
  color: lightgreen;
  background-color: @bg;
  font-size: 5px;
}

.accessories label {
  color: grey;
  margin-top: 6px;
}
