/*Workspaces=================================================================*/
.workspaces {
  min-height: 0px;
}

.workspaces > button {
  all: unset;

  margin: 8px 3px;
  min-height: 8px;

  padding: 0px;
  min-width: 8px;

  transition: min-width 0.1s linear;

  background-color: #404040;

  border: none;
  border-radius: 50%;
}

.workspaces > button.visible {
  background-color: white;
}

.workspaces > button.focused {
  background-color: @accent2;
  border-radius: 100px;
  min-height: 12px;
  /* This dictates total height*/
  /* 12px + 12px = 24*/
  margin: 6px 3px;
  min-width: 40px;
}
