@define-color bar                     rgba(41, 42, 48, 0.6);
@define-color fg                      white;

@define-color bg                      rgba(41, 42, 48, 1);

@define-color bg2                     rgba(56, 57, 63, 1);

@define-color solidbg                 rgba(79, 82, 84, 1);

@define-color hover                   rgba(72, 73, 79, 1);
@define-color hoverClear              rgba(72, 73, 79, 0.8);

/*blue*/
@define-color accent                            #3169b0;

/*Red*/
@define-color accent2                           lightcoral;
