.slider {
  padding: 5px;
}
.slider button {
  all: unset;
}
.slider button:hover {
  all: unset;
}

.slider image {
  background-color: white;
  border-radius: 13px 0px 0px 13px;
  color: black;
  padding: 0px 20px 0px 8px;
}

.slider scale,
.slider scale contents {
  border-radius: 0px 13px 13px 0px;
}

.slider scale trough {
  border-radius: inherit;
  min-height: 22px;
  background-color: @bg2;
}

.slider scale highlight {
  background-color: white;
}

.slider scale slider {
  all: unset;
}

.slider:disabled scale highlight,
.slider:disabled image {
  background-color: grey;
}
